body {
    margin: 0;
}
.section-one {
    background: url('images/canada-4105137_1280.jpg') lightgray -2.446px -5.91px / 101.181% 136.247% no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    color:white;
    margin-bottom: 0px;
}

h1 {
    border-radius: 10px;
    background: #1D3557;
    padding: .5em;
    margin-bottom: 0;

}

.header-paragraph {
    
    border-radius: 10px;
    background: #457B9D;
    text-align: center;
    padding: .5em;
    width: 355px;
    height: 39px;

}
.section-two{
    background-color: #ffe5ec;
    margin-bottom: 40px;
    padding: 2rem;
   
}

h2 {
    text-align: center;
    color: #1D3557;
    font-size: 30px;
    margin-top: 0;
    padding: 1rem;
}

.continer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
}

.card {
    width: 198px;
    height: 55px;
    margin-bottom: 25px;
}

.profile {
    width: 180px;
    height: 248.667px;
    flex-shrink: 0;
    border-radius: 10px;
    background: url('images/photo-1536463726684-434ca0eeea33.jpeg') lightgray 50% / cover no-repeat;
}

.section-three {
    display: flex;
    width: 400px;
    height: 294px;
    gap:1rem;
    background-color: #a2d2ff;
    margin: auto;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 15px;
    border-bottom: 10px solid rgb(66, 55, 55) ;

}


